{:paths ["src" "resources"]
 :deps {ring/ring {:mvn/version "1.8.2"}
        hiccup/hiccup {:mvn/version "2.0.0-RC3"}
        compojure/compojure {:mvn/version "1.7.1"}
        io.pedestal/pedestal.jetty {:mvn/version "0.7.0-rc-2"}
        org.slf4j/slf4j-simple {:mvn/version "2.0.10"}
        com.datomic/peer {:mvn/version "1.0.7075"}}}