@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* General styles */

:root {
    --background-color: #0D0A0B;
    --additional-color: #454955;
    --text-color: #F3EFF5;
    --secondary-color: #3F7D20;
    --highlighted-color: #72B01D;
}

html {
    font-size: 62.5%;
    font-family: Lato, helvetica neue, helvetica, arial, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.main-body {
    padding: 1.6rem 4%;
    font-size: 2.2rem;
}

h1 {
    font-size: 4rem;
}

/* Header */

.header-container {
    background-color: var(--secondary-color);
    color: var(--main-text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 4%;
    height: 10rem;
}

.header-list-item {
    display: inline;
    margin-left: 10rem;
    font-size: 2.2rem;
}

.header-list-item a:hover, .main-body a:hover {
    color: var(--highlighted-color);
}

.website-title {
    font-size: 4em;
    font-weight: bold;
}

/* Home page */

.home-title {
    width: 70%;
    margin-bottom: 3rem;
    line-height: normal;
}

.home-container {
    display: flex;
    justify-content: space-between;
}

.article {
    width: 70%;
}

.body-list {
    background-color: var(--additional-color);
    padding: 2rem;
    padding-right: 3rem;
    width: 25%;
}

/* View lesson page */

.lesson-title {
    padding-bottom: 2rem;
}

.lesson-container {
    display: flex;
    justify-content: space-between;
}

.lesson-info {
    width: 45%;
}

.lesson-code {
    width: 50%;
}